<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Password</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'logo_white.svg' %}">
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>

<body>
    <div class="background">

        <img class="logo" src="{% static 'logo_black.svg' %}">

        <main>

            <div class="flex-column flex-center card gap-25 padding-20">

                <div class="flex-column flex-center gap-10">
                    <span class="title-medium color-primary max-width-200 text-center">Confirm your new password</span>
                    <div class="blueline"></div>
                </div>

                <span class="text-normal max-width-200 text-center">Please provide your new password for your account.
                </span>

                <form class="flex-column flex-center gap-25" method="POST">
                    {% csrf_token %}
                    <input class="input-field pw-icon border-box" type="password" placeholder="Password" id="id_new_password1"
                        name="new_password1" autocomplete="new-password" required="">
                    <input class="input-field pw-icon border-box" type="password" placeholder="Confirm password" id="id_new_password2"
                        name="new_password2" autocomplete="new-password" required="">
                    <input class="btn-primary cursor-pointer" type="submit" value="Change my Password">
                </form>
            </div>

        </main>
    </div>
</body>

</html>